<header class="bg-primary text-white py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3">
                <a href="index.html" class="text-white text-decoration-none">
                    <h1 class="h4 mb-0">Multi-Tools Hub</h1>
                </a>
            </div>
            <div class="col-md-6">
                <nav class="navbar navbar-expand-lg">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#categories">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#popular">Popular Tools</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#about">About</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 text-end">
                <button class="btn btn-outline-light" id="theme-toggle">
                    <i class="bi bi-moon-fill"></i> Toggle Theme
                </button>
            </div>
        </div>
    </div>
</header> 